.container{
    margin-top:40px;
    display: grid;
    grid-template-columns: auto auto;
    
    
}
.res-img{
    
  margin-left: 10px;
    

}
.res-info{
    
    align-items: left;
    justify-content: left;
    margin-left: 20px;
   


    

}
.image-style{
   max-width: 405px;
   height: 250px;
   border-radius: 10px;

    
}
.resName{
    line-height: 1px;
}
.adressStyle{
    color: #727678;
}
