.container{
    margin-top:40px;
    display: grid;
    grid-template-columns: auto auto;
    
    
}
.res-img{
    
  margin-left: 10px;
    

}
.res-info{
    

    align-items: center;
    justify-content: center;
   


    

}
.image-style{
   max-width: 405px;
   height: auto;

    
}
