.container{
    
    display: grid;
    grid-template-columns: auto auto;


   


}
.left-container{
    display: 'grid';
    grid-template-columns: auto auto;

}
.left{

    
    width: 700px;
     height: 150px;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-items: stretch;
     align-content: space-between;
     font-size: 15px;
   
   

   
}
.right{
    display: grid;
    

}