.container{
    
    display: grid;
    grid-template-columns: auto auto;


   


}

.left{

    
    width: 150px;
     height: 130px;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-items: stretch;
     align-content: space-between;
     font-size: 15px;
        
}
.right{
    display: grid;
    

}