.sidebar{
    
    border: 2px solid rgba(0,0,0,.05);
    border-radius: 3px;
    padding:3px;    
    height: auto;
    
    
    
}
.sidebar:hover{
    background-color: #3e8e41;
  color: white;
}

  